body {
    background-color: rgb(186, 194, 222);
    color: black;
    font-family: "Montserrat", serif;
    text-align: center;
}

.dark-mode {
    background-color: rgb(24, 24, 37);
    color: white;
}

.light-mode {
    background-color: rgb(186, 194, 222);
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(24, 24, 37);
        color: white;
    }
}

/* unvisited link */
a:link {
    color: #cba6f7; /* Catppuccin Mocha Lavender */
    font-weight: bold; /* Make link text bolder */
}

/* visited link */
a:visited {
    color: #cba6f7; /* Catppuccin purple */
    font-weight: bold; /* Make visited link text bolder */
}

/* mouse over link */
a:hover {
    color: #b4befe; /* Catppuccin pink */
    font-weight: bold; /* Make hover link text bolder */
}

.bottom {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

/* Button styles */
button {
    background-color: rgb(24, 24, 37); /* Dark background color */
    color: white; /* White text color */
    border: 1px solid rgb(108, 112, 134); /* Border color */
    padding: 10px 20px; /* Padding for the button */
    font-size: 16px; /* Font size for the button text */
    cursor: pointer; /* Change cursor to pointer on hover */
}

button:hover {
    background-color: rgb(108, 112, 134); /* Change background color on hover */
    color: black; /* Change text color on hover */
}